@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

.header, .footer{
  display: flex;
  margin: 0;
  padding : 8px;
  justify-content: space-between;
}

.footer{
  background-color: #eeeeee;
}

.left-links{
  margin: 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.right-links{
  margin: 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


img {
  width: 600px;
  flex-shrink: 1;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
