/* Add CSS Styling */
.odd {
    background-color: #fdaba7;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

#four {
    background-color: #88fd7d;
    font-weight: bold;
}